.index {
	padding: 30px 30px 30px 30px;
}
.logo {
	width: 100px;
	display: inline-block;
    vertical-align: middle;
 }
.navigacia {
	display: inline-block;
	vertical-align: middle;
	margin-left: 50px;
	
}

.navigacia-li {
	font-family: 'BPG Nino Mtavruli Bold';
	display: inline-block;
	font-size: 22px;
	color:#3D58A6;
	font-weight: bold;
	margin: 15px;
}
.active {
	color: #EE4036;
}
.comp {
	margin-top: 25px;
}
h4 {
	font-family: 'Roboto-Regular';
	font-size: 24px;
	color: black;
	margin-top: 100px;
	font-weight: bold;
}
.section {
	margin-top: 30px;
	margin-bottom: 40px;
}

.box {
	display: inline-block;
	vertical-align: middle;
	background-color: #DEDEE2;
	width: 570px;
	height: 225px;
	margin-right: 30px;
}
.title {
	font-family: 'Roboto-Regular';
	color: #3D58A6;
	font-size: 22px;
	

}
.poto {
	display: inline-block;
	vertical-align: middle;
	width: 95px;
}
.text {
	font-family: 'Roboto-Regular';
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	width: 350px;

}
.a {
	margin: 15px 0px 12px 15px;
}
.b {
	margin: 0px 60px 40px 40px;
}
.c {
	margin-bottom: 50px;
}
.d {
	margin: 15px 0px 15px 15px;
}
.e {
	margin: 0px 50px 0px 50px;
}
.f {
	margin-bottom: 50px;
}

.folist {
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}
.fologo {
	height: 30px;
}
.index3 {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 30px;

}
.background {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #E6E6E6;
	/*height: 500px;*/
}
.gh {
	padding-top: 50px;
	padding-bottom: 50px;
}
h5 {
	font-family: 'BPG Nino Mtavruli Bold';
	color: #3D58A6;
	font-size: 20px;
	font-weight: bold;
}
.contact {
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
	padding-top: 15px;
}
.contact-li {
    font-family: 'BPG Ingiri Arial';
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}
.contact-span {
	
	color: #808080;
}
.mapouter {
	display: inline-block;
	vertical-align: middle;
	position:relative;
	text-align:right;
	height:420px;
	width:770px;
}
.gmap_canvas {
	overflow:hidden;
	background:none!important;
	margin-left: 90px;
	height:420px;
	width:770px;
}